body{
    background-image: url('http://static1.grsites.com/archive/textures/beige/beige001.jpg');
    background-repeat: repeat;
}


.header-container{
   
    margin: left;
    width: 40%;
    border: 3px;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    font-size: 35px; 
    margin-bottom: 20px;
    color: white;
}
.instructions{
    margin: left;
    width: 60%;
    
    border: 3px;
    padding: 10px;
    text-align: center;
    background-color: palegoldenrod;
    font-size: 20px; 
    margin-bottom: 20px;

}
.scoreBox{
    height: 150px;
    width: 40%;
    
}
.randomNumber{
    float: left;
    height: 105px;
    margin: 10px;
    width: 40%;
    border: 3px ;
    padding: 10px;
    text-align: center;
    background-color: lightgreen;
    font-size: 15px; 
    margin-bottom: 20px;
}

.winsLosses{
    float: left;
    margin: 10px;
    width: 25%;
    border: 3px;
    padding: 10px;
    text-align: left;
    background-color: lightblue;
    font-size: 20px; 
    margin-bottom: 20px;
    overflow: hidden;
    
}

.crystals{
clear: both;
width: 37%;
margin: left;
display: flex;
justify-content: space-around;
border: 1px ;
align-items: center;
margin-bottom: 20px; 

}

.crystal{
border: 1px solid red;
height: 150px;
width: 150px;
background: black;
}
.crystal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}
.scoreText{
    margin: left;
    width: 20%;
    
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #73ad21;
    font-size: 25px; 
    margin-bottom: 20px;
    text-align: left;
}
.yourScore{
    margin: left;
    width: 20%;
    height: 125px  ;
    color: white;
    padding: 10px;
    text-align: center;
    background-color:  #73AD21;
    font-size: 25px; 
    margin-bottom: 20px;
    text-align: left;
    
}